/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.thumbnail {min-height:375px; height:375px;}  
.thumbnail center img {min-height: 165px;}
.no-img span{position: absolute; left: 30px; top: 15px;}
.links span a img{height:35px; float: left;}

a img {margin: 15px; margin-top: 0px;}
.glyphicon {margin: 15px; margin-top: -25px; font-size: 60px; line-height: 3;}
.tab {margin-left: 30px;}


