<div class="container">
<h1>Contact Alex Bahm</h1>
<div class="row">
	<div class="col-md-3">
		<img class="pull-left media-object img-rounded" src="img/alexbahm.jpg" alt="Alex Bahm" height="256px" height="100%">
	</div>
	<div class="col-md-9">
		<ul class="list-group" width="50%">
		  <li class="list-group-item"><a href="https://github.com/techfreek">GitHub</a></li>
		  <li class="list-group-item"><a href="http://www.linkedin.com/profile/view?id=237978958&amp;trk=nav_responsive_tab_profile">LinkedIn</a></li>
		  <li class="list-group-item"><a href="http://www.youtube.com/user/t3chfr33k?feature=mhee">Youtube</a></li>
		  <li class="list-group-item"><a href="https://twitter.com/BahmHere">Twitter</a></li>
		  <li class="list-group-item"><a href="mailto:alex.bahm@email.wsu.edu">Email</a></li>
		</ul>
	</div>
</div>
</div>