<div class="container">
	<div ng-controller="indexCtrl">
		<div class="jumbotron">
			<div class="media">
				<img class="pull-left media-object img-rounded" src="img/alexbahm.jpg" alt="..." height="256px" height="100%">	
					<div class="media-body">
					<h1>Alex Bahm</h1>
					<p>Programming, Web Development,  Information Technology</p>
					<p>Junior at Washington State University majoring in Computer Science</p>
					<p>Languages: C, C++, C#, SQL, Python, HTML, CSS, Javascript, Angularjs, Nodejs</p>
					</div>
				</div>
		</div>
		<div class="container">
			<p>A high achieving Computer Science major at Washington State University</p>
			<p>Junior at Washington State University: strong problem-solving and communication skills developed through substantial years of community service, hands-on learning and education.</p>
			<p>Skilled with technology: Confident trouble-shooting and problem-solving; practical, hands-on experience working with hardware. </p>
			<p>Dedicated and hardworking: active and practical; creative thinker, thoughtful and analytical; determined and detailed follow-through; consistent high grades and achievement.</p>
		</div>
	</div>
</div>