<div class="container">
	<div ng-controller="indexCtrl">
		<div class="jumbotron">
			<div class="media">
				<img class="pull-left media-object img-rounded" src="img/alexbahm.jpg" alt="Alex Bahm" height="256px" height="100%">	
					<div class="media-body">
					<h1>Alex Bahm</h1>
					<p>Programming, Web Development,  Information Technology</p>
					<p>Junior at Washington State University majoring in Computer Science</p>
					<p>Languages: C, C++, C#, SQL, Python, HTML, CSS, and Javascript</p>
					</div>
				</div>
		</div>
		<div class="container">
			<h3>Why 'The Bahm of Programming'?</h3>
			<p><div class="tab">Quite a few people mispronounce my name, with a few of them pronouncing it as 'Bane', so I made a little joke when I bought my domain name.</div></p>
			<br />
			<h3>Who is Alex Bahm?</h3>
			<p><div class="tab">Alex is a junior in computer science at Washington State University. He is currently an active member of the Linux Users Group, WSU Tech Club, and Computer Security group on campus. In his free time, he enjoys works on programming projects, listening to music, and snowboarding. A significant portion of Alex's childhood was spent volunteering at Issaquah Salmon Days and with the Boy Scouts of America. He is not only an Eagle Scout, but also has helped lead his team at Salmon Days to get multiple international awards for their work. Alex is a hardworking and dedicated individual who is confident in problem-solving and programming.</div></p>
			<br />
		</div>
	</div>
</div>