<div ng-controller="projectsCtrl">
	<div class="container">
		<style type="text/css">
			.thumbnail {min-height:375px; height:375px;}	
			.thumbnail center img {min-height: 165px;}
			.no-img span{position: absolute; left: 30px; top: 15px;}
			.links span a img{height:35px; float: left;}
		</style>
		<div class="row">
			<div class="col-sm-6 col-md-4" ng-repeat="project in projects">
			 	<div class="thumbnail">
			 		<center>
			 			<div ng-show="project.img != null"><img class="img-rounded" ng-src="{{project.img}}" width="99%"/></div>
						<div ng-show="project.img == null" class="no-img">
							<img class="img-rounded" src="http://lorempixel.com/400/200/technics" width="99%"/>
							<span class="label label-default">Picture Coming Soon</span>
						</div>
					</center>
					<div class="caption">
						<h3>{{project.name}}</h3>
						<p>{{project.description}}</p>
						<p>{{project.role}}</p>
						<p class="links">
							<span ng-show="project.github != null"><a ng-href="{{project.github}}"><img src="img\Octocat.png"/></a></span>
							<span ng-show="project.youtube != null"><a ng-href="{{project.youtube}}"><img src="img\YouTube.png"/></a></span>
							<span ng-show="project.url != null"><a ng-href="{{project.url}}" class="btn btn-primary" role="button">Link</a></span>
						</p>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>